<div class="container">
  <h1>Saldo tarjeta bip</h1>
  <form>
    <label>
      <input id="numero-bip" type="number" placeholder="Número tarjeta">
    </label>
    <a href="#" class="btn js-btn-query">
      <span>Consultar</span>
      <div class="btn__spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </a>
  </form>
  <div class="notification js-notification">
    <p class="js-notification--message">
      Esta tarjeta tiene <span class="js-notification--card-credit"></span>
    </p>
  </div>
</div>
